body {
    display: flex;
    justify-content: center;
}
#container {
    width: 512px;
    height: 512px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.div {
    background-color: black;
    opacity: 0%;
}

.div:hover {
    opacity: 50%;
}